/* 위로는 이전 스타일 */

.button {
  border: none;
  outline: none;
  width: 70px;
  height: 40px;
  color: white;
  padding: 10px;
  background-color: #6382d8;
  border-radius: 15px;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
}

.button:focus {
  border: none;
  outline: none;
}

.buttonRegist {
  font-weight: 700;
  width: 60px;
  height: 40px;
}

.buttonTrash {
  /* font-weight: var(--font-bold); */
  width: 100px;
  height: 50px;
}

.buttonDefault {
  width: 100px;
  height: 70px;
}
