html {
  background: #fffeeb;
}

h1{
  margin: 0 auto;
  border-bottom: 1px solid #99ccff;
  text-align: center;
  width: 300px;
  padding-top: 20px;
}

.inputWrapper{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.input-field {
  width: 70%;
  height: 50px;
  border: 1px solid #99ccff;
  border-radius: 30px;
  font-size: 20px;
  text-align: center;
}

.registration{
  width: 5%;
  height: 40px;
  border: 1px solid #6382d8;
  background: #6382d8;
  color: white;
  cursor: pointer;
  padding: 10px;
  white-space: nowrap;
  min-width: 50px;
}

.edit{
  width: 5%;
  height: 40px;
  border: 1px solid #6382d8;
  background: #6382d8;
  color: white;
  cursor: pointer;
  padding: 10px;
  white-space: nowrap;
  min-width: 80px;
}

.buttonWrapper{
  align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 7%;

}


.customInput{
  list-style: none;
  width: 70%;
  height: 50px;
  border: 1px solid #99ccff;
  border-radius: 30px;
  font-size: 20px;
}


.ulItem {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listItem {
  margin: 0;
  display: flex;
  align-items: center;
}